<section class="section-{{ section.id }} py-12">
  <div class="container">
    {{ section.settings.custom_liquid }}
  </div>
</section>

{% schema %}
{
  "name": "Custom Liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add custom Liquid code or app snippets."
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}
